@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
html {
  font-size: 100%;
}

*, *::before, *::after {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.625rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fefcf7;
  font-family: "Barlow", sans-serif;
}

.hidden {
  display: none;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

@media (min-width: 48rem) {
  .header {
    padding: 1.5rem 2.5rem 2.5rem;
  }
}

.header__logo {
  display: block;
  width: 10.25rem;
}

@media (min-width: 48rem) {
  .header__logo {
    width: 14.75rem;
  }
}

.header__logo__img {
  height: 100%;
  width: 100%;
}

.header__main-nav {
  display: none;
}

@media (min-width: 48rem) {
  .header__main-nav {
    display: block;
  }
}

.header__main-nav__list {
  list-style: none;
  padding-left: none;
}

.header__main-nav__list__item {
  display: inline-block;
}

.header__main-nav__link {
  display: block;
  padding-left: 2rem;
  text-decoration: none;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  color: #83888f;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header__main-nav__link:hover {
  color: #333d4b;
}

.header__mobile-nav__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border: 0;
  background: transparent;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

@media (min-width: 48rem) {
  .header__mobile-nav__toggle {
    display: none;
  }
}

.header__mobile-nav {
  position: absolute;
  height: 100vh;
  top: 5.625rem;
  right: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fefcf7), to(rgba(254, 252, 247, 0.56)));
  background-image: linear-gradient(#fefcf7 40%, rgba(254, 252, 247, 0.56));
}

@media (min-width: 48rem) {
  .header__mobile-nav {
    display: none;
  }
}

.header__mobile-nav__list {
  list-style-type: none;
  padding: 2.5rem 0;
}

.header__mobile-nav__link {
  display: block;
  padding-bottom: 2.5rem;
  text-align: center;
  text-decoration: none;
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #333d4b;
}
/*# sourceMappingURL=styles.css.map */