.how-to {
    margin-bottom: 7.5rem;
    padding: 0 1.5rem;
    text-align: center;
}

.how-to__heading {
    padding-bottom: 5rem;
    font-family: $heading;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $grey;
}

.how-to__info {

}

.how-to__step {
    padding-bottom: 3.5rem;

    &:last-of-type {
        padding-bottom: 5rem;
    }
}

.how-to__step-no {
    display: block;
    padding-bottom: 1.5rem;
    font-family: $heading;
    font-size: 4.5rem;
    line-height: 4.5rem;
    color: $paleOrange;
}

.how-to__step__heading {
    padding-bottom: 1.5rem;
    font-family: $heading;
    font-size: 1.75rem;
    line-height: 2rem;
}

.how-to__step__details {
    max-width: 28rem;
    margin: 0 auto;
}