@keyframes fade-in {
    from {
        opacity: 0;
    }

    1% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}


@keyframes fade-out {
    from {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}