// padding - main container
.p-x {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @include breakpoint-up(medium) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    @include breakpoint-up(large) {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

.m-x {
    max-width: 80rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    @include breakpoint-up(medium) {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    @include breakpoint-up(large) {
        margin: auto;
    }
}

.p-b-med {
    padding-bottom: 7.5rem;

    @include breakpoint-up(medium) {
        padding-bottom: 10.5rem;
    }
}

.p-b-lg {
    padding-bottom: 7.5rem;

    @include breakpoint-up(medium) {
        padding-bottom: 12.5rem;
    }
}