.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem 2.5rem 1.5rem;

    @include breakpoint-up(medium) {
        padding-top: 2.5rem;
    }
}

.header__logo {
    display: block;
    padding: 1rem 0;
    height: 3.125rem;
    width: 10.25rem;
}

.header__logo__img {
    height: 100%;
    width: 100%;
    //object-fit: contain;
}

.header__mobile-nav__toggle {
    display: flex;
    align-items: center;
    padding: 1rem           ;
    border: 0;
    background: transparent;
    cursor: pointer;


    @include breakpoint-up(medium) {
        display:none;
    }
}