.footer {
    margin-bottom: 4.5rem;
    background-color: $darkGreyBlue;
    text-align: center;
    padding: 3.375rem 0;

    @include breakpoint-up(large) {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-items: start;
        align-items: center;
        padding: 3rem 3.5rem;
    }

    @include breakpoint-up(xlarge) {
        padding: 3rem 5.25rem;
    }
}

.footer__logo {
    padding-bottom: 3rem;

    @include breakpoint-down(xsmall) {
        max-width: 90%;
        margin: auto;
    }

    @include breakpoint-up(medium) {
        padding-bottom: 2rem;
    }

    @include breakpoint-up(large) {
        padding-bottom: 0;
    }
}



.footer__logo__img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: auto;

    & path {

        &:first-of-type {
            fill: $white;
        }

    }
}


.footer__nav {
    padding-bottom: 1.5rem;

    @include breakpoint-up(medium) {
        padding-bottom: 3.5rem;
    }

    @include breakpoint-up(large) {
        padding-bottom: 0;
        padding-left: 4rem;
    }
}

.footer__nav__item {
    padding-bottom: 1.5rem;

    @include breakpoint-up(medium) {
        display: inline-block;
        padding: 0 1rem;
    }
}

.footer__nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: $bold;
    letter-spacing: 0.9px;
    line-height: 0.9375rem;
    color: $grey;
    transition: all 200ms ease-in-out;

    &:hover {
        color: $lightCream;
    }


}

.footer__social {

    @include breakpoint-up(large) {
        justify-self: end;
    }
}

.footer__social__link {
    display: inline-block;
    padding: 0 0.75rem;


    & svg path {
        transition: all 200ms ease-in-out;
    }
    
    &:hover svg path {
        fill: $paleOrange;
    }

}