.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;

    @include breakpoint-up(medium) {
        padding-top: 1.5rem;
        padding-bottom: 2.5rem
    }

    @include breakpoint-up(large) {
        max-width: 90rem;
        margin: auto;
        padding-top: 2.75rem; 
        padding-bottom: 2.75rem;
    }
}

.header__logo {
    display: block;
    width: 10.25rem;

    @include breakpoint-up(medium) {
        width: 14.75rem;
    }
}

.header__logo__img {
    height: 100%;
    width: 100%;
}

.header__main-nav {
    display: none; 

    @include breakpoint-up(medium) {
        display: block;
    }
}

.header__main-nav__list {
    list-style: none;
    padding-left: none;
}

.header__main-nav__list__item {
    display: inline-block;
}

.header__main-nav__link {
    display: block;
    padding-left: 2rem;
    text-decoration: none;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    color: $grey;
    transition: all 200ms ease-in-out;

    &:hover {
        color: $darkGreyBlue;
    }
}

.header__mobile-nav__toggle {
    display: flex;
    align-items: center;
    padding: 1rem           ;
    border: 0;
    background: transparent;
    transform: translateX(1rem);


    @include breakpoint-up(medium) {
        display:none;
    }
}

.header__mobile-nav {
    position: absolute;
    height: 100vh;
    top: 5rem;
    right: 0;
    left: 0;
    background-image: linear-gradient($lightCream 35%, $lightCreamGradient);


    @include breakpoint-up(medium) {
        display: none;
    }
}

.header__mobile-nav__list {
    list-style-type: none;
    padding: 2.5rem 0;
}

.header__mobile-nav__link {
    display: block;
    padding-bottom: 2.5rem;
    text-align: center;
    text-decoration: none;
    font-family: $heading;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $darkGreyBlue;
}